#section-scorecard-results #deployment-options {
  margin-top: 0;
}
#section-scorecard-results #deployment-options .content {
  background-color: #fff;
}
#section-scorecard-results #deployment-options .content h4 {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #868686;
}
#section-scorecard-results #deployment-options .fit .progress-bar,
#section-scorecard-results #deployment-options .build-your-own .progress-bar {
  background-color: #777;
}
#section-scorecard-results #deployment-options .fit .progress-bar.high {
  background-color: #B8E986;
}
#section-scorecard-results #deployment-options .fit .progress-bar.high span {
  color: #4a7c17;
  font-weight: bold;
}
#section-scorecard-results #deployment-options .fit .progress-bar.medium {
  background-color: #FFFBB7;
}
#section-scorecard-results #deployment-options .fit .progress-bar.medium span {
  color: #a29700;
  font-weight: bold;
}
#section-scorecard-results #deployment-options .fit .progress-bar.low {
  background-color: #EC4358;
}
#section-scorecard-results #deployment-options .fit .progress-bar.low span {
  color: #6e0b17;
  font-weight: bold;
}
#section-scorecard-results #deployment-options .service-level-fit {
  padding-top: 3rem;
}
#section-scorecard-results #deployment-options .total-cost {
  margin-top: -3px;
  font-size: 2rem;
}
#section-scorecard-results #deployment-options .total-cost-of-ownership h3 {
  font-size: 2rem;
  margin: 0;
  height: 23px;
  text-transform: uppercase;
  color: #2c4e71;
  margin-top: 6rem;
}
#section-scorecard-results #deployment-options .provider h5 {
  color: #777;
  display: table-cell;
  height: 8rem;
  vertical-align: bottom;
  padding-bottom: 1rem;
  line-height: 1.6rem;
}
#section-scorecard-results #deployment-options .provider .progress {
  margin-bottom: 0;
}
#section-scorecard-results #deployment-options .provider.first .total-cost {
  color: #3289C6;
}
#section-scorecard-results #deployment-options .provider.second .total-cost {
  color: #193561;
}
#section-scorecard-results #deployment-options .provider.third .total-cost {
  color: #86CEE1;
}
#section-scorecard-results #deployment-options .provider .progress-bar.first {
  background-color: #3289C6;
}
#section-scorecard-results #deployment-options .provider .progress-bar.second {
  background-color: #193561;
}
#section-scorecard-results #deployment-options .provider .progress-bar.third {
  background-color: #86CEE1;
}
#section-scorecard-results #deployment-options .build-your-own .total-cost {
  color: #777;
}
#section-scorecard-results #deployment-options .provider-name {
  margin-bottom: 3rem;
  line-height: 2.7rem;
  font-size: 2rem;
  color: #3289c6;
}
#section-scorecard-results #deployment-options .provider-name.first {
  color: #3289c6;
}
#section-scorecard-results #deployment-options .provider-name.second {
  color: #193561;
}
#section-scorecard-results #deployment-options .provider-name.third {
  color: #86CEE1;
}
#section-scorecard-results #deployment-options .build-your-own h5 {
  color: #777;
}
#section-scorecard-results #deployment-options .cloud-rank-score canvas {
  width: 100%;
}
#section-scorecard-results #deployment-options .cloud-rank-score p {
  font-size: 5rem;
  margin-top: -90px;
}
#section-scorecard-results #deployment-options .cloud-rank-score h3 {
  margin-top: -15px;
}
#section-scorecard-results #deployment-options .header {
  padding: 10px;
  background-color: #3289c6;
}
#section-scorecard-results #deployment-options .header h3 {
  margin-top: 0;
  color: #fff;
  text-transform: none;
  height: 23px;
  margin-bottom: 3px;
}
#section-scorecard-results #deployment-options .content {
  background-color: #fff;
}
#section-scorecard-results #deployment-options .progress {
  border-radius: 0;
  box-shadow: none;
  background-color: #E5E5E5;
}
#section-scorecard-results #deployment-options .progress .progress-bar {
  box-shadow: none;
}
#section-scorecard-results #deployment-options .progress .progress-bar span {
  display: inline-block;
  width: 100%;
  text-align: right;
  padding-right: 5px;
  padding-left: 5px;
}
